<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SGR.DataBaseFactory>
    <DataBase type="OleDb" connectionstring="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\TCC\Projeto\TesteUnitario\DataTest\TestDataBase.mdb;Persist Security Info=False" />
  </SGR.DataBaseFactory>
</configuration>